<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html>
<head>

<!-- actions template for slidoc server --->
<!-- actions parameters: site_name, session_name, suspended -->

{% include "base.html" %}
{% include "actbase.html" %}

</head>
<body>

  <h2>{{site_name}} Site actions </h2>

  <b>
  {% include "linkback.html" %}
  </b>

  <p></p>
  <h3><span id="slidoc-action-status"></span></h3>

  <ul>
    <li><a href="javascript:slidocAction('twitter')">twitter</a>: View twitter stream status</li>
    <hr>
    <li><a href="javascript:slidocConfirmAction('backup')">backup</a>: Backup all sessions</li>
    {% if not site_name %}
    <hr>
    <li><a href="javascript:slidocConfirmAction('shutdown')">shutdown</a>: Shutdown proxy server</li>
    {% end %}
  </ul>
  Suspend status: <b>{{suspended or 'none'}}</b><br>
  <p></p>

  <a href="#" onclick="document.getElementById('slidoc-dash-advanced').style.display=null;this.style.display='none'">Show advanced options</a>
  <ul id="slidoc-dash-advanced" style="display: none;">
    <li><a href="javascript:slidocAction('cache')">proxy status</a>: Status of proxy cache and active connections</li>
    <hr>
    <li><a href="javascript:slidocConfirmAction('freeze')">freeze</a>: Freeze all cached sessions (clear to cancel freeze)</li>
    <li><a href="javascript:slidocConfirmAction('clear')">clear</a>: Clear all cached sessions</li>
    <hr>
    <li><a href="javascript:slidocConfirmAction('reindex')">reindex</a>: Re-index session(s) (e.g., all, resource, lecture01, ...)</li>
    <hr>
    <li><a href="javascript:slidocSheetAction('sheet')">sheet</a>: Display sheet</li>
    <li><a href="javascript:slidocSheetAction('getrow')">getrow</a>: Get rows from sheet (e.g., <code>settings_slidoc, sessions_slidoc, roster_slidoc</code>)</li>
    <li><a href="javascript:slidocSheetAction('getcol')">getcol</a>: Get columns from sheet</li>
  </ul>

</body>
</html>
