<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html>
<head>

<!-- actions template for slidoc server --->
<!-- actions parameters: site_name, session_name, suspended -->

{% include "base.html" %}
{% include "actbase.html" %}

</head>
<body>

  <h2>{{site_name}} Advanced site actions </h2>

  <b>
  {% include "linkback.html" %}
  </b>

  <p></p>
  <h3><span id="slidoc-action-status"></span></h3>

  Suspend status: <b>{{suspended or 'none'}}</b><br>
  <p></p>

  <ul>
    <li><b><a class="clickable" href="javascript:slidocAction('cache')">proxy status</a></b>: Status of proxy cache and active connections</li>
    <hr>
    <li><b><a class="clickable" href="javascript:slidocConfirmAction('freeze')">freeze</a></b>: Freeze all cached module sessions (clear to cancel freeze)</li>
    <li><b><a class="clickable" href="javascript:slidocConfirmAction('clear')">clear</a></b>: Clear all cached module sessions</li>
    {% if not site_name %}
    <li><b><a class="clickable" href="javascript:slidocConfirmAction('shutdown')">shutdown</a></b>: Shutdown proxy server</li>
    {% end %}
    <hr>
    <li><b><a class="clickable" href="javascript:slidocPromptAction('backup','Backup dirname (end with hyphen to append timestamp):')">backup</a></b>: Backup of all module sessions to directory</li>
    <hr>
    <li><b><a class="clickable" href="javascript:slidocPromptAction('sheet','Sheet name:')">sheet</a></b>: Display sheet</li>
    <li><b><a class="clickable" href="javascript:slidocPromptAction('getrow','Sheet name:')">getrow</a></b>: Get rows from sheet (e.g., <code>settings_slidoc, sessions_slidoc, roster_slidoc</code>)</li>
    <li><b><a class="clickable" href="javascript:slidocPromptAction('getcol''Sheet name:')">getcol</a></b>.: Get columns from sheet</li>
  </ul>

</body>
</html>
