<html>
<head>
<!-- attendance template for slidoc server --->
<!-- attendance parameters: site_name, attendance_days, selected_day, attendance_info, recent -->

{% include "base.html" %}
<style>
th { font-weight: bold; text-align: left; }
td { padding: 8px; }
</style>

<script>
function get(elem, url) {
    console.log("get", elem, elem.dataset.name, elem.dataset.present, url);
    {% if not recent %}
    if (!window.confirm('Change present value for '+elem.dataset.name+'?'))
        return;
    {% end %}
    var xhr = new XMLHttpRequest();
    xhr.onload = function () {
        console.log("xhr", xhr.status, xhr);
        if (xhr.status === 200) {
          if (xhr.responseText.match(/^error/i))
              elem.textContent = xhr.responseText;
          else
              elem.innerHTML = xhr.responseText;
        } else {
           alert("Error in get: "+xhr.status);
        }
    };

  xhr.open('GET', url, true);
  xhr.send();
}
</script>
</head>
<body>

<b>
{% include "linkback.html" %}
</b>
<p></p>
<h2>Attendance record</h2>

  <form action="/{{site_name}}{% if site_name %}/{% end %}_attend" method="post" enctype="multipart/form-data">
    <fieldset>
    <label>New record date: <input type="text"  name="newday"></label>
    <input id="slidoc-attendance-submit" type="submit" value="Create"> (Enter date as <code>ddmmmyy</code>, e.g., <code>29sep17</code>; leave blank for today)
   </fieldset>
   {% module xsrf_form_html() %}
   <p></p>
  </form>
  <hr>

{% if selected_day %}
  <form class="larger" action="/{{site_name}}{% if site_name %}/{% end %}_attend" onchange="this.submit()">
  <label for="selectedday">Attendance on:</label>
  <select class="larger" name="selectedday">
  {% for day in attendance_days %}
    <option value="{{day}}" {% if day == selected_day %}selected{% end %}>{{day}}</option>
  {% end %}
  </select>
  </form>
{% end %}

  <table>
    {% if attendance_info %}
    <thead>
    <tr><th>Name</th> <th>Present</th></tr>
    </thead>
    {% end %}
    {% set j = 0 %}
    {% for name, userid, present in attendance_info %}
    {% set j += 1 %}
    <tr class="{{'oddrow' if j % 2 else 'evenrow' }}">
      <td>{{ name }}</td>
      <td><span class="clickable" data-name="{{name}}" data-present="{{present}}" onclick="get(this,'{{site_prefix}}/_attend?selectedday={{selected_day}}&user={{url_escape(userid)}}&toggle=1')">{% raw '&#x2714;' if present else '&#x2718;' %}</span></td>
    </tr>
    {% end %}
  </table>

</body>
</html>
