<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html>
<head>
<!-- browse template for slidoc server --->
<!-- browse parameters: site_name, status, root_admin, up_path, browse_path, file_list-->

{% include "base.html" %}

<style>
td { padding: 0.2em 0 0 1em; }
.rowhover:hover {background: #eee;}

.dropzone {
  border: 3px dashed transparent;
  min-height: 48px;
  min-width: 200px;
}

.dropzone.dragover {
  border: 3px dashed gray;
}

</style>

<script>
function deletePath(subpath) {
    var msg = 'Confirm deletion of '+subpath+'. This cannot be undone.';
    if (!window.confirm(msg))
        return;
    window.location = "{{site_prefix }}/_browse/" + subpath + '?delete=1';
}

function dropContainer(element, callback) {
    element.addEventListener('dragover', function(evt) {
        evt.preventDefault();
        evt.stopPropagation();
        element.classList.add('dragover');
    });

    element.addEventListener('dragleave', function(evt) {
        evt.preventDefault();
        evt.stopPropagation();
        element.classList.remove('dragover');
    });

    element.addEventListener('drop', function(evt) {
        evt.preventDefault();
        evt.stopPropagation();
        element.classList.remove('dragover');
      triggerCallback(evt);
    });
  
    function triggerCallback(evt) {
        var files;
        if (evt.dataTransfer) {
          files = evt.dataTransfer.files;
        } else if (evt.target) {
          files = evt.target.files;
        }
        callback.call(null, files);
    }
}

function dropCallback(files) {
    var file = files[0];
    console.log("dropCallback", file);
    if (document.getElementById("file-"+file.name)) {
        if (!window.confirm('Overwrite file '+file.name+'?'))
          return;
    }
    var formData = new FormData();
    formData.append("upload", file);
    post("{{site_prefix }}/_browse/{{ browse_path }}", formData, "Uploaded "+file.name);
}

function post(url, formData, successMsg) {
    console.log("post", url);
    var xhr = new XMLHttpRequest();
    xhr.open('POST', url);
    xhr.onload = function () {
        console.log("xhr", xhr.status);
        if (xhr.status === 200) {
            location.hash = "#"+successMsg;
            location.reload(true);
        } else {
            alert("Error in upload: "+xhr.status);
        }
    };

  xhr.send(formData);
}

document.onreadystatechange = function(event) {
    if (document.readyState != "interactive" || !document.body)
        return;
    dropContainer(document.getElementById("dropzone"), dropCallback);
    if (location.hash) {
        document.getElementById("status-line").textContent = location.hash.slice(1);
        location.hash = "";
    }
}

</script>

</head>
<body>

  <b>
  {% include "linkback.html" %}
  </b>

  <p></p>
  <h2>Browse site files</h2>

  Directory: <b>{{ browse_path }}</b>
  <p></p>
  <hr>

<b>Status:</b> <b id="status-line">{{ status }}</b>
<p></p>

{% if browse_path and not browse_path.startswith('backup') %}
<a class="clickable" href="#" onclick="document.getElementById('upload-form').style.display=null;this.style.display='none'">&#x21EA;
(upload file/zip archive)</a>

<hr>

<form id="upload-form" style="display: none;" action="{{site_prefix }}/_browse/{{ browse_path }}" method="post" enctype="multipart/form-data" >
  <fieldset>
    <label for="upload">File (or .zip archive) to upload:</label><br>
    <input type="file" id="upload" name="upload"  value="file1">
    <br><em>(Select or drag and drop on button above, or over file
             list area below.)</em>
    <p></p>
    <input id="upload-submit" type="submit" value="Upload">
  </fieldset>
</form>
{% end %}
<p></p>

{% if browse_path %}
<a class="clickable" href="{{ site_prefix }}/_browse"><b>~ (root)</b></a>
<p></p>
{% end %}

{% if up_path %}
<a class="clickable" href="{{ site_prefix }}/_browse/{{ up_path }}"><b>.. (parent)</b></a>
<p></p>
{% end %}

<div id="dropzone" class="dropzone">

<table>
{% for fname, subpath, isfile, viewpath in file_list %}
  <tr class="rowhover">
    <td>
    {% if not isfile %}<a class="clickable" href="{{ site_prefix }}/_browse/{{ subpath }}">&#x1F4C2;</a>{% end %}
    </td>
    <td id="file-{{ fname }}">
    {% if viewpath %}
      <a class="clickable" href="{{ site_prefix }}/{{ viewpath }}">{{ fname }}</a>
    {% else %}
      {{ fname }}
    {% end %}
    </td>
    <td>
    <a class="clickable" href="{{ site_prefix }}/_browse/{{ subpath }}?download=1">&#x21E9;</a>
    </td>
    <td>
    <span class="clickable" onclick="{% if root_admin %}deletePath('{{ subpath }}');{% else %} alert('Only root admin can delete file');{% end %}">&#x1F5D1;</span>
    </td>
  </tr>
{% end %}
</table>
</div>

{% if not up_path %}
<p></p>
Notes:
  <ul>
    <li><em>Directory/file actions</em>: Traverse (&#x1F4C2;), Download (&#x21E9;), Delete (&#x1F5D1;)</li><p></p>
    <li><code>source</code> contains page and module files (along with embedded image files).</li><p></p>
    <li><code>web</code> contains HTML files published from
     Markdown files and any raw files uploaded to the web site by admin.</li><p></p>
    <li><code>data</code> contains files submitted/uploaded by users during module sessions.</li><p></p>
    <li><code>backup</code> contains directories with scheduled and custom site backups.</li><p></p>
  </ul>
{% end %}
</body>
</html>
