<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html>
<head>
<!-- browse template for slidoc server --->
<!-- browse parameters: site_name, up_path, browsepath, file_list-->

{% include "base.html" %}

<script>
function action(actionName, sessionName, sessionPrefix, checkboxId) {
var msg = 'Confirm '+actionName+' '+(sessionPrefix||'')+(sessionName||'');
if (!window.confirm(msg+'?'))
return;
var url = '{{ site_prefix }}'+'/_'+actionName;
if (sessionName)
  url += '/' + sessionName;
if (checkboxId) {
  var checkElem = document.getElementById(checkboxId);
  if (checkElem && checkElem.checked)
    url += '?'+checkboxId+'=1';
}
window.location = url;
}
</script>

</head>
<body>
<b>
{% include "linkback.html" %}
</b>

<h3>Browsing directory {{ browse_path }}</h3>

<a class="clickable" href="{{ site_prefix }}/_browse"><b>~</b></a>
<br>

{% if up_path %}
<a class="clickable" href="{{ site_prefix }}/_browse/{{ up_path }}"><b>..</b></a>
{% end %}

<ul>
{% for fname, subpath, isfile, viewpath in file_list %}
  <li>
  {% if isfile %}
    {{ fname }}{% if viewpath %} <a class="clickable" href="{{ site_prefix }}/{{ viewpath }}">(view)</a>{% end %}
  {% else %}
    <a class="clickable" href="{{ site_prefix }}/_browse/{{ subpath }}">{{ fname }}</a>
  {% end %}
  </li>
{% end %}
</ul>
</body>
</html>
