<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html>
<head>
<!-- dashboard template for slidoc server --->
<!-- dashboard parameters: site_name, version, interactive -->

{% include "base.html" %}

<style>
.clickable { padding: 0.2em 0 0 1em; }
</style>

<script>
 function action(actionName) {
   if (!window.confirm('Confirm '+actionName+'?'))
      return;
   var url = '{{ site_prefix }}/_' + actionName;
   window.location = url;
}
</script>

</head>
<body>

  <h2><a href="/{{ site_name }}">{{ site_name or 'Home' }}</a> Dashboard</h2>
  <b>(Slidoc version {{version}})</b>
  <p></p>

  Current interactive session: {% if interactive %}<a href="/_manage/{{interactive}}">{{ interactive }}</a><br>{%else %}none{% end %}
  <p></p>

  <b><a class="clickable" href="{{ site_prefix }}/_sessions">Create and modify source content</a></b>
  <p></p>

  <b><a class="clickable" href="{{ site_prefix }}/_actions">Advanced site actions</a></b>
  <p></p>

  <b><a class="clickable" href="{{ site_prefix }}/_user_plain">Re-login as plain user</a></b>
  <p></p>

  <hr>

  Roster of users: <a class="clickable" href="{{ site_prefix }}/_roster">&#x1F464;</a> 
  <a class="clickable" href="{{ site_prefix }}/_sheet/roster_slidoc" >&#9783;</a>
  <p></p>

  Gradebook:
  <a class="clickable" href="{{ site_prefix }}/_sheet/scores_slidoc" >&#9783;</a>
  <p></p>

  <em>Available actions</em>: Upload/view roster (&#x1F464;), View spreadsheet (&#9783;)
  <p></p>

  <hr>

  <a href="#" onclick="document.getElementById('advanced-opts').style.display=null;this.style.display='none';">Advanced dashboard actions</a>

  <div id="advanced-opts" style="display: none; border: 1px solid; padding: 4px;">
  <b>Advanced dashboard actions:</b><p></p>

  <a class="clickable" href="{{ site_prefix }}/_twitter">View Twitter stream status</a>
  <p></p>

  <a class="clickable" href="{{ site_prefix }}/_browse">Browse/upload
  all site files (<em>Use with care!</em>)</a>
  <p></p>

  </div>

</body>
</html>
