<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html>
<head>
<!-- dashboard template for slidoc server --->
<!-- edit parameters: site_name, session_name, session_label, session_text, session_responders, err_msg -->

{% include "base.html" %}

<script>
// Global values
var PreviewWin = null;
var SessionText = null;
var ErrorMsg = '';

function slidocDiscard() {
   if (!window.confirm('Discard changes?')) {
     return false;
   }
   if (winURL(PreviewWin)) {
      PreviewWin.close();
   }
   PreviewWin = null;
   window.location = '{{site_prefix}}/_discard/{{session_name}}?modified=-1';
   return false;
}

function slidocAccept() {
   if (SessionText != document.getElementById('sessiontext').value) {
      if (!window.confirm('Content modified since last preview update. Discard those modifications?'))
         return false;
   }
   var msg = 'Accept last preview';
   if (ErrorMsg)
     msg += ', despite error message';
   if (!window.confirm(msg+'?')) {
     return false;
   }
   if (winURL(PreviewWin)) {
      PreviewWin.close();
   }
   PreviewWin = null;
   window.location = '{{site_prefix}}/_accept?modified=-1';
   return false;
}

function winURL(win) {
    // Returns window HREF (without hash), or null string on error
    if (!win)
       return '';
    try {
        return (win.location.origin == "null" ? 'about:' : win.location.origin) + win.location.pathname +
win.location.search;
    } catch (err) {
        return '';
    }
}

function checkPreviewWin() {
   var url = winURL(PreviewWin);
   if (!url)
      PreviewWin = null;
   return url;
}

function openWin(url, name) {
   // Open named window, if not already open
   // For previously open window with different url, switch to blank url
   var win = window.open("", name);

   if (win) {
      var utemp = winURL(win);
      console.log("openWin", utemp, ' URL:', url, win);
      if (utemp != url && utemp != 'about:blank')
         win.location.href = 'about:blank';
   } else {
      win = window.open(url, name);
      win.focus();
   }
   return win;
}

function scrollTextArea(areaElem, top) {
    setTimeout(function() {
	if (top) {
	    areaElem.style.height = areaElem.scrollHeight + 12 + 'px';
	    areaElem.scrollIntoView(true);
	} else {
	    areaElem.scrollTop = areaElem.scrollHeight;
	    areaElem.style.height = areaElem.scrollHeight + 12 + 'px';
	}
	areaElem.focus();
    }, 200);
}

document.onkeydown = function(evt) {
   if ((evt.keyCode == 10 || evt.keyCode == 13) && evt.ctrlKey) {
      evt.stopPropagation();
      evt.preventDefault();
      slidocUpdate('update');
      return false;
   }
   if ((evt.keyCode == 10 || evt.keyCode == 13) && evt.altKey) {
      evt.stopPropagation();
      evt.preventDefault();
      if (PreviewWin && PreviewWin.Slidoc && PreviewWin.Slidoc.imageLink) {
         var textarea = document.getElementById('sessiontext');
         textarea.value += '\n\n' + PreviewWin.Slidoc.imageLink;
         scrollTextArea(textarea);
      }
      return false;
   }
}

function slidocUpdate(action) {
   var xhr = new XMLHttpRequest();
   var previewPath = "{{site_prefix}}/_preview/index.html"
   var previewURL = location.origin+previewPath+"?update=1";
   var previewName = "{{site_name}}_preview";
   var indexSession = ("{{session_name}}" == "index");

   // Window opening must be triggered by user input
   if (action == 'open' || (action == 'update' && !checkPreviewWin())) {
      var msg = 'This will open a separate "live" preview  window/tab, which can be updated automatically. If you do not want live preview in a separate window, cancel now and use Save to preview in  this window.\nYou can use Control-Enter keystoke to trigger live updates and Alt-Enter to append image links.\nIf a tab is opened, you may want to drag it out and place it side-by-side with the edit window.';
      if (!window.confirm(msg)) {
         return false;
      }
      PreviewWin = openWin(previewURL, previewName);
   }

   slidocStatus('Processing ...');
   if (checkPreviewWin() && !PreviewWin.Slidoc && PreviewWin.document) {
      PreviewWin.document.body.textContent = 'Processing ...';
   }
   xhr.onreadystatechange = function () {
      var DONE = 4; // readyState 4 means the request is done.
      ErrorMsg = '';
      if (xhr.readyState === DONE) {
         if (xhr.status === 200) {

            if (xhr.getResponseHeader('Content-Type') === 'application/json') {
               var retval = null;
               try {
                  retval = JSON.parse(xhr.responseText);

                  if (retval.result === 'error') {
                     ErrorMsg = ''+retval.error;
                     slidocStatus(ErrorMsg);
                     if (checkPreviewWin()) {
                         PreviewWin.Slidoc = null;
                         PreviewWin.document.body.textContent = ErrorMsg;
                     }
                     return;
                  }
               } catch(err) {
               }
               console.log('retval=', retval);
            }

           if (action == 'save') {
              if (checkPreviewWin()) {
                 PreviewWin.close();
               }
               PreviewWin = null;
               slidocStatus('');
               window.location = previewPath;
           } else {
              // open/update action
              if (checkPreviewWin()) {
                 if (checkPreviewWin() == 'about:blank') {
                    PreviewWin.location = previewURL;
                 } else if (!PreviewWin.Slidoc || !PreviewWin.GService) {
                    // Only reload for "simple pages" like ToC. Paced session pages will be automatically reloaded via websocket 
                    PreviewWin.location.reload(true);
                 }
                 slidocStatus('Updated preview window (use Ctl-Enter update and Alt-Enter to append image links)');
                 document.getElementById('acceptbutton').style.display = null;
              }
           }

        } else {
          ErrorMsg = xhr.responseText+' (status='+xhr.status+')';
          if (ErrorMsg.indexOf('MODIFY_SESSION') >=0) {
              ErrorMsg = 'Retry with Modify ... option checked. ' + ErrorMsg;
          }
          slidocStatus(ErrorMsg);
          if (checkPreviewWin()) {
             PreviewWin.Slidoc = null;
             PreviewWin.document.body.textContent = ErrorMsg;
          }
        }

      }
   };

   var data = new FormData(document.getElementById("slidoc-edit-form"));
   if (action != 'save') {
      data.append('update', 1);
      SessionText = document.getElementById('sessiontext').value;
   }
   xhr.open('POST', "{{site_prefix}}/_edit", true);
   xhr.send(data);
   return false;
}
function slidocStatus(text, show) {
   try { document.getElementById("slidoc-err-msg").textContent = text; } catch(err) {}
   if (show)
      alert(msg);
}
document.onreadystatechange = function(event) {
    if (document.readyState != "interactive" || !document.body)
        return;
    document.querySelectorAll('textarea').forEach(function(tx){
        tx.style.height = tx.scrollHeight + 12 + 'px';
    });
}
</script>

<style>
.slidoc-edit-preview {
    float: right;
}
</style>

</head>
<body>
<tt><pre id="slidoc-err-msg">{{err_msg}}</pre></tt>
<p></p>
<form action="{{site_prefix}}/_edit" method="post" id="slidoc-edit-form" enctype="multipart/form-data" >
  {% module xsrf_form_html() %}
  <div>
    <button type="button" onclick="slidocUpdate('save')">Save</button>
    <button type="button" onclick="slidocDiscard()">Discard</button>
    <button type="button" onclick="slidocUpdate('update')" class="slidoc-edit-preview">Update preview</button>
    <button type="button" onclick="slidocUpdate('open')" class="slidoc-edit-preview">Open preview</button>
    <button type="button" onclick="slidocAccept()" class="slidoc-edit-preview" id="acceptbutton" style="display: none;">Accept preview</button>
  </div>
  <fieldset>
    <label for="sessionname">Editing module:</label> <b>{{ session_label }}</b>
    <input type="hidden" id="sessionname" name="sessionname" value="{{session_name}}"></input>
    &nbsp;&nbsp;
    <label for="sessionmodify">Modify question numbers/types?</label>
    <input type="checkbox" id="sessionmodify" name="sessionmodify" value="modify">
    <p></p>
    {% if session_responders %}
    <b>Note:</b> Session already has {{session_responders}} responders. If changing question
structure, you may need to reset session (under <a href="{{site_prefix}}/_manage/{{session_name}}" target="_blank">Session Management</a>) to delete all responses.
    <p></p>
   {% end %}
    <textarea id="sessiontext" name="sessiontext" style="width: 90%; max-height: 80%;">{{session_text}}</textarea>
    <p></p>
    <label for="zipimages">Optional archive containing folder *_images with image collection (.zip):</label><br>
    <input type="file" id="zipimages" name="zipimages"  accept=".zip" value="file">
  </fieldset>
</form>

</body>
</html>
