<!-- gradebase template for slidoc server --->
<!-- gradebase parameters: site_name, session_name, user_id, grades -->

{% if grades.get('total') and grades['total']['score'] is not None %}
<em>Weighted total</em>: <b>{{ '%.2f' % grades['total']['score'] }}</b>
 <b>{% if grades['total']['score'] %}</b>out of {{ '%.2f' % grades['total']['maxscore'] }}{% end %}
    {% if grades['total']['rescale'] %}<br>&nbsp;&nbsp;&nbsp;Weighting={{ grades['total']['rescale'].replace('+',' + ') }}{% end %}
<br>
{% end %}

{% if grades.get('grade') and grades['grade']['score'] %}
<em>Potential grade</em>: {{ grades['grade']['score'] }} (this is a tentative,
estimated grade based on the total/curving so far; the final grade may
be different, depending upon any additional credits/corrrections/curving)
<br>
{% end %}

{% if grades.get('sessions') %}
  {% set prefix = '' %}
  {% for session, sessionGrades in grades['sessions'] %}
    {% if not session.startswith('_') %}
      {% set comps = session.split('_') %}
      {% set prefix = '_'.join(comps[:-1]) %}
<p></p><em>{{ prefix+'('+comps[-1]+')=' }}</em>
    {% else %}
<br>
      {% if prefix and session[1:].startswith(prefix) %}
&nbsp;&nbsp;&nbsp; {{ session[1:] }}:
      {% else %}
        {% set prefix = '' %}
<p></p>{{ session[1:] }}:
      {% end %}
    {% end %}
    {% if sessionGrades['score'] is not None %}
<b>{{ '%.2f' % sessionGrades['score'] }}</b>
    {% else %}
missed
    {% end %}
     {% if sessionGrades['maxscore'] is not None %}
out of {{ sessionGrades['maxscore'] }}
    {% end %}
    {% if sessionGrades['rescale'] %}
      {% if 'drop' in sessionGrades['rescale']  %}
[ {{ sessionGrades['rescale'] }} ]
      {% else %}
rescaled
      {% end %}
    {% end %}
    {% if sessionGrades['average'] is not None %}
(avg={{ '%.2f' % sessionGrades['average'] }})
    {% end %}
  {% end %}
{% end %}
