<!-- gradebase template for slidoc server (SNIPPET) --->
<!-- gradebase parameters: site_name, session_name, user_id, total_grade, letter_grade, last_update, session_grades, gradebook_release -->

<style>
.clickable { cursor: pointer; color: #2980B9; text-decoration: none}

.clickable:hover {text-decoration: underline;}
</style>

{% set site_prefix = '/'+site_name if site_name else '' %}

<div {% if not last_update or 'cumulative_total' not in gradebook_release %} class="disabled"{% end %}>

{% if total_grade and total_grade['score'] is not None %}
<em>Weighted total</em>: <b>{{ '%.2f' % total_grade['score'] }}</b>
 <b>{% if total_grade['score'] %}</b>out of {{ '%.2f' % total_grade['maxscore'] }}{% end %}
    {% if total_grade['average'] %} (avg={{ '%.2f' % total_grade['average'] }}){% end %}
    {% if total_grade['rescale'] %}<br>&nbsp;&nbsp;&nbsp;Weighting= {{ total_grade['rescale'].replace('+',' + ') }}{% end %}
<br>
{% end %}

</div>

<div {% if not last_update or 'cumulative_grade' not in gradebook_release %} class="disabled"{% end %}>

{% if letter_grade and letter_grade['score'] %}
<p></p><em>Potential grade</em>: {{ letter_grade['score'] }} &nbsp;&nbsp;
<br>(This is a tentative letter grade estimate based on the
performance so far; the final grade may
be different, depending upon any additional credits/corrrections/curving)
<br>
{% end %}

</div>

{% if session_grades %}
  {% set prefix = '' %}
  {% for session, sessionPath, sessionGrades in session_grades %}
    {% if not session.startswith('_') %}
      {% set comps = session.split('_') %}
      {% set prefix = '_'.join(comps[:-1]) %}
<p></p>{{ prefix+'('+comps[-1]+')=' }}
    {% else %}
<br>
      {% if prefix and session[1:].startswith(prefix) %}
&nbsp;&nbsp;&nbsp; <a class="clickable" href="{{ site_prefix  }}{{ sessionPath }}">{{ session[1:] }}</a>:
      {% else %}
        {% set prefix = '' %}
<p></p><a class="clickable" href="{{ site_prefix  }}{{ sessionPath }}">{{ session[1:] }}</a>:
      {% end %}
    {% end %}
    {% if sessionGrades['score'] is not None %}
<b>{{ '%.4g' % sessionGrades['score'] }}</b>
    {% else %}
missed
    {% end %}
     {% if sessionGrades['maxscore'] is not None %}
/ {{ '%0.4g' % sessionGrades['maxscore'] }}
    {% end %}
    {% if sessionGrades['average'] is not None and sessionGrades['average'] > 1 %}
(avg={{ '%.2f' % sessionGrades['average'] }})
    {% end %}
    {% if sessionGrades['rescale'] %}
      {% if 'drop' in sessionGrades['rescale']  %}
[ {{ sessionGrades['rescale'] }} ]
      {% else %}
rescaled
      {% end %}
    {% end %}
  {% end %}
{% end %}
