<html>
<head>
<!-- import template for slidoc server --->
<!-- import parameters: site_name, session_name, import_params, submit_date -->

{% include "base.html" %}

</head>
<body>

  <b>
  {% include "linkback.html" %}
  </b>

  <p></p>
  <h2>Import user responses</h2>

  Module session: <b>{{session_name}}</b>
  <p></p>
  <hr>

<div id="slidoc-import-form">
  <form action="/{{site_name}}{% if site_name %}/{% end %}_import/{{session_name}}" method="post" enctype="multipart/form-data" >
    <fieldset>
      {% if import_params %}
      Import parameters:
        <ul>
          <li><u>Key type</u>: {{ import_params['importKey'] }}</li>
          <li><u>CSV column</u>: {{ import_params['keyColName'] }}</li>
          <li><u>Skip keys</u>: {{ import_params['skipKeys'] }}</li>
        </ul>
      {% else %}
      <label for="importkey">Import key:</label>
      <select name="importkey">
        <option value="" selected>(default)</option>
        <option value="name">name</option>
        <option value="id">id</option> 
        <option value="altid" >altid</option>
        <option value="twitter">twitter</option>
      </select>
      <br>
      <label for="keycolname">Key column name:</label><br>
      <input type="text" id="keycolname" name="keycolname"  value="">
      <br>
      <label for="skipkeys">Special keys to skip (semicolon separated):</label><br>
      <input type="text" id="skipkeys" name="skipkeys"  value="">
      {% end %}
      <p></p>
      <label for="submitdate">Submit date (optional):</label>
      <input type="datetime-local" id="submitdate" name="submitdate" value="{{submit_date}}">
      <p></p>
      <label for="upload">Answers file (CSV spreadsheet file containing columns id/twitter, q1, qx2, qg3, q4, ...):</label><br>
      <input type="file" id="upload" name="upload"  accept=".csv" value="file">
      <p></p>
      <label for="overwrite">Overwrite?</label>
      <input type="checkbox" id="overwrite" name="overwrite" value="overwrite">
    </fieldset>
    {% module xsrf_form_html() %}
    <div>
      <input id="slidoc-import-submit" type="submit" value="Import">
    </div>
  </form>
</div>

</body>
</html>
