<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html>
<head>

<!-- login template for slidoc server --->
<!-- login parameters: login_label, login_url, password, error_msg, next, locked_access_link-->

<style>
body {
    font-family: sans-serif;
}
</style>

</head>
<body>

{% if locked_access_link is not None %}
  <script>
    function openAndroidBarcodeScanner() {
      Android.openBarcodeScanner();
    }
    </script>
    <p></p>
    <h2>Slidoc (locked mode)</h2>
    <p></p>&nbsp;
    <p></p>&nbsp;
    {% if locked_access_link %}
      <b> <a href="/_auth/logout/">Logout</a> </b>
      <p></p>&nbsp;
      <p></p>&nbsp;
      <p></p>&nbsp;
      <p></p>
      <h3><a href="{{locked_access_link}}">Return to locked session</a></h3>
    {% else %}
      <h3><a href="javascript:openAndroidBarcodeScanner();">Scan QR code for locked access</a></h3>
    {% end %}
{% else %}

<div id="main-container">
  <h2><a href="/">{{ login_label or 'Home' }}</a></h2>
  <div id="main">
    <div id="login-form">
      <form action="{{login_url}}" method="post" id="login_form">
        <div>
          <span class="sdserver-message"><em>{{error_msg}}</em></span>
        </div>
	<p></p>
        <fieldset>
          <label for="username">Username:</label>
          <input autocapitalize="off" autocorrect="off" class="sdserver-input" id="username" name="username" tabindex="1" type="text" value="">
          <p></p>
          <label for="token">{{password}}</label>
          <input class="sdserver-input" id="token" name="token" tabindex="2" type="password" value="">
        </fieldset>
        {% module xsrf_form_html() %}
        <input id="next" name="next" type="hidden" value="{{next}}"></input>
	<p></p>
        <div id="form_btn">
	  <input id="signin-btn" type="submit" value="Sign In" tabindex="3">
	</div>
      </form>
    </div>
  <p></p>
  <a href="/">Home</a>
  </div>
</div>

{% end %}

</body>
</html>
