<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html>
<head>

<!-- manage template for slidoc server --->
<!-- manage parameters: site_name, site_label, session_name -->

{% include "base.html" %}

</head>
<body>

<h2><a href="/">{{site_label}}</a></h2>

<b>
{% include "linkback.html" %}
</b>

<p></p>
<div id="slidoc-manage">
  Manage session <b>{{session_name}}</b>
  <h3><span id="slidoc-action-status"></span></h3>

  <ul>
    <li><a href="javascript:slidocAction('respond')">respond</a>: Award participation credit</li>
    <li><a href="javascript:slidocAction('submissions')">submissions</a>: Session submission stats, allow late submissions etc.</li>
    <hr>
    <li><a href="javascript:slidocAction('edit')">edit</a>: Edit Markdown file</li>
    <li><a href="javascript:slidocAction('download')">download</a>: Download Markdown file (and images)</li>
    <hr>
    <li><a href="javascript:slidocConfirmAction('prefill')">prefill</a>: Prefill session with roster users (for paper tests)</li>
    <li><a href="javascript:slidocConfirmAction('import')">import</a>: Import responses/grades from spreadsheet.csv (for paper tests)</li>
    <li><a href="javascript:slidocAction('export')">export</a>: Export responses to spreadsheet.csv</li>
    <li><a href="javascript:slidocConfirmAction('submit')">submit</a>: Submit test user responses (useful to end admin paced sessions)</li>
    <hr>
    <li><a href="javascript:slidocAction('qstats')">qstats</a>: Question response statistics</li>
    <hr>
    <li><a href="javascript:slidocAction('getrow')">headers</a>: List session spreadsheet columns (headers)</li>
    <li><a href="javascript:slidocAction('getcol')">ids</a>: List all rows (ids) in session spreadsheet</li>
    <hr>
    <li><a href="javascript:slidocAction('refresh')">refresh</a>: Refresh session cache</li>
    <hr>
    <li><a href="javascript:slidocConfirmAction('delete')">delete</a>: Delete session (irreversible)</li>
  </ul>
</div>

</body>
</html>
