<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html>
<head>
<!-- sessions template for slidoc server --->
<!-- sessions parameters: site_name, session_types, session_props, message -->

{% include "base.html" %}

<style>
.clickable { padding: 0.2em 0 0 0.8em; }
.nested { padding: 0.2em 0 0 2em; }
.session-present { opacity: 0.6; }
</style>

<script>
function togglebelow(elem, open) {
   var belowElem = elem.parentNode.parentNode.nextElementSibling;
   console.log('togglebelow', open, elem, belowElem);
   if (open) {
      elem.style.display = 'none';
      elem.nextElementSibling.style.display = null;
      if (belowElem)
         belowElem.style.display = null;
   } else {
      elem.style.display = 'none';
      elem.previousElementSibling.style.display = null;
      if (belowElem)
         belowElem.style.display = 'none';
   }
}

function action(actionName, sessionName, sessionPrefix, checkboxId) {
   var msg = 'Confirm '+actionName+' '+(sessionPrefix||'')+(sessionName||'');
   if (!window.confirm(msg+'?'))
      return;
   var statusElem = document.getElementById('status-msg');
   if (actionName == 'delete') {
      if (!window.confirm('Delete operation is irreversible. Are you sure?'))
         return;
   }
  if (actionName == 'republish') {
    if (statusElem)
      statusElem.textContent = 'Processing...';
  }
   var url = '{{ site_prefix }}'+'/_'+actionName;
   if (sessionName)
      url += '/' + sessionName;
   if (checkboxId) {
      var checkElem = document.getElementById(checkboxId);
      if (checkElem && checkElem.checked)
      url += '?'+checkboxId+'=1';
   }
   window.location = url;
}
</script>

</head>
<body>

  <h2>{{site_name}} Content</h2>
  <b>
  {% include "linkback.html" %}
  </b>
  <p></p>
  <h3>Create and modify page and module content</h3>

  <b>Status:</b> <tt id="status-msg" style="color: red;">{{ message }}</tt>
  <p></p>

  <b><a class="clickable" href="#" onclick="document.getElementById('session-list').style.display=null;this.style.display='none';">Add module type</a></b>

  <form id="session-list" style="display: none;" action="/{{site_name}}{% if site_name %}/{% end %}_upload" method="post" enctype="multipart/form-data" >
    <fieldset>
    <label for="sessiontype">Module type:</label><br>
    <table>
      {% set session_dirs = [x[0] for x in session_props] %}
      {% for session_type, session_label in session_types %}
        {% if session_type != 'top' %}
        <tr {% if session_type in session_dirs %}class="session-present"{% end %}><td><input type="radio" name="sessiontype" value="{{session_type}}" {% if session_type in session_dirs %}disabled{% end %}> <b>{{ session_type }}</b></td><td> [{{ session_label }}]</td></tr>
        {% end %}
      {% end %}
      </table>
    {% module xsrf_form_html() %}

    <input type="hidden" name="sessioncreate" value="sessions">

    <div>
      <input id="session-upload-submit" type="submit" value="Add module type">
    </div>
    </fieldset>
  </form>
  <p></p>

  <p></p>
  <em>Directory/file actions</em>: Module session spreadsheet (&#9783;), Manage (&#9881;), Edit (&#9998;), Create/upload (&#x21EA;),
  Publish (&#x21BA;), Delete (&#x1F5D1;), New module (<b>+</b>)
  <p></p>
  <div style="border: 1px solid; padding: 4px;">
  <b>Page and module directory</b>
  <ul>
    {% for dirname, private, sessions, dates, logs in session_props %}
    <li>
      <div>
        <div>

	  {% if sessions is None %}
          <span class="clickable" onclick="togglebelow(this,true);" style="visibility: hidden;">&#x27A4;</span>
          <span class="clickable smaller" onclick="togglebelow(this,false);" style="display: none; visibility: hidden;">&#9660;</span>
	  <a class="altclickable" href="{{ site_prefix }}{% if private %}/_private{% end %}/{{ dirname }}.html">{{ dirname }}</a>
	  <a class="clickable" href="{{ site_prefix }}/_edit/{{ dirname }}" >&#9998;</a>
	  <a class="clickable" href="{{ site_prefix }}/_upload/{{ dirname }}">&#x21EA;</a>

          {% else %}
          <span class="clickable" onclick="togglebelow(this,true);" style="">&#x27A4;</span>
          <span class="clickable smaller" onclick="togglebelow(this,false);" style="display: none;">&#9660;</span>
	  {{ dirname }}
	  <a class="clickable" href="{{ site_prefix }}/_republish/{{ dirname }}00">&#x21BA;</a>
          {% end %}


	  <span class="clickable" onclick="action('delete','{{ dirname }}{% if sessions is not None %}00{% end %}','folder ');" >&#x1F5D1;</span>
        </div>

	{% if logs %}
        <ul class="amber"><li>
	  <span class="clickable" onclick="togglebelow(this,true)">&#9776;</span>
	  <span class="clickable" onclick="togglebelow(this,false)" style="display: none; background: #eee;">&#9776;</span>
        </li></ul>
        <pre style="display: none;">{{ logs }}</pre>
        {% end %}
      </div>

      {% if sessions is not None %}
      <table class="nested" style="display: none;">
	<tr>
          <td>
	    <a class="clickable" href="{{ site_prefix }}{% if private %}/_private{% end %}/{{ dirname }}/index.html">index</a>
	    <a class="clickable" href="{{ site_prefix }}/_edit/{{ dirname }}00">&#9998;</a>
	    <a class="clickable" href="{{ site_prefix }}/_upload/{{ dirname }}00">&#x21EA;</a>
          </td>
          <td>
          {% if dates[1] %}due: {{ dates[1] }}{% end %}
          </td>
          <td>
          {% if dates[2] %}graded: {{ dates[2] }}{% end %}
          </td>
        </tr>

        {% for session in sessions %}
	<tr>
          <td>
	    <a class="clickable" href="{{ site_prefix }}{% if private %}/_private{% end %}/{{ dirname }}/{{ session }}.html">{{ session }}</a>
	    <a class="clickable" href="{{ site_prefix }}/_sheet/{{ session }}" >&#9783;</a>
	    <a class="clickable" href="{{ site_prefix }}/_manage/{{ session }}" >&#9881;</a>
	    <a class="clickable" href="{{ site_prefix }}/_edit/{{ session }}">&#9998;</a>
	    <a class="clickable" href="{{ site_prefix }}/_upload/{{ session }}">&#x21EA;</a>
  	    <span class="clickable" onclick="action('delete','{{ session }}');" >&#x1F5D1;</span>  
          </td>
          <td>
          {% if dates[1] %}due: {{ dates[1] }}{% end %}
          </td>
          <td>
          {% if dates[2] %}graded: {{ dates[2] }}{% end %}
          </td>
        </tr>
        {% end %}
        {% set last = (''.join(x for x in sessions[-1] if x.isdigit())) if sessions else '0'%}
        {% set next = '%s%02d' % (dirname, int(last or '0')+1) %}
        <tr><td> &nbsp;<a class="clickable larger" href="{{ site_prefix }}/_upload/{{ next }}"><b>+</b></a></td></tr>
      </table>
      {% end %}

    </li>
    {% end %}
  </ul>
  </div>
  <p></p>

  <b><a class="clickable" href="{{ site_prefix }}/_upload/top">Upload top-level Markdown page content</a></b>
  <p></p>

  <b><a class="clickable" href="{{ site_prefix }}/_upload/raw">Upload top-level raw web page content</a></b>
  <p></p>

  <b><a class="clickable" href="#" onclick="document.getElementById('advanced-opts').style.display=null;this.style.display='none';">Advanced content actions</a></b>
  <div id="advanced-opts" style="display: none; border: 1px solid; padding: 4px;">
  <b>Advanced content actions:</b><p></p>
  <p></p>
  <span class="clickable" onclick="action('republish','all','for ','republishforce');">&#x21BA;</span>: Publish all pages and modules (generate HTML files from Markdown)<br>
  <p></p>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <input id="republishforce" type="checkbox" id="republishforce" name="republishforce" value="force">
                                <label for="republishforce">Force publishing of even unmodified pages and modules</label>
  <p></p>
  <span class="clickable" onclick="action('reindex','all','for ');">&#x2336;</span>: Reindex all pages and modules (regenerate Table of Contents)
  <p></p>
  <hr>
  <a class="clickable" href="{{ site_prefix }}/_upload">&#x21EA;</a>: Flexible file upload 
  <p></p>
  </div>

<p></p>
 Sample source directory structure:
<blockquote><code><pre>
index.md
syllabus.md

exam/index.md
exam/exam01.md

lecture/index.md
lecture/lecture01.md  
lecture/lecture02.md  
</pre></code></blockquote>
  
<p></p>
  Notes:
  <ul>
    <li><code>index.md</code> is the (Markdown) home page of the web site.</li><p></p>
    <li>Other Markdown pages may also appear at the top-level, e.g., <code>syllabus.md</code>.</li><p></p>
    <li>Top-level Markdown/HTML pages will be automatically listed in the navigation bar.</li><p></p>
    <li><em>Publishing</em> generates HTML web pages from Markdown content.</li>
  </ul>

</body>
</html>
