<html>
<head>
<!-- roster template for slidoc server --->
<!-- roster parameters: site_name, gradebook, qwheel_new, qwheel_link, name_map, last_map, first_map, status_map -->

{% include "base.html" %}
{% include "actbase.html" %}

<style>
th, td { padding-left: 6px;
         padding-right: 6px;
         padding-top: 2px;
         padding-bottom: 2px;
   }

th { text-align: left; }
</style>

</head>
<body>

<b>
{% include "linkback.html" %}
</b>
<p></p>
<hr>
<p></p>
<h2>Site Roster</h2>

<b><a class="clickable" href="{{ site_prefix }}/_attend">Take attendance</a></b>
<p></p>

<hr>
<b><a class="clickable" href="{{ site_prefix }}/_roster?overwrite=yes">Re-import roster (OVERWRITE)</a></b>
<p></p>
<b><a class="clickable" href="javascript:slidocAction('editroster')">Add new user to roster</a></b>
<hr>

<a class="clickable" href="{{ qwheel_new  }}" target="_blank"><b>New question wheel session</b></a>
<p></p>

<a class="clickable" href="{{ qwheel_link }}" target="_blank"><b>Question wheel session</b></a>
<p></p>

{% for j, nMap in enumerate([name_map]) %}
  {% set items = sorted(nMap.items(), key=lambda x: x[1]) %}
  <hr>
  <table>
  {% set k = 0 %}
  {% for userid, name in items %}
   {% set k += 1 %}
    <tr class="{{ 'oddrow' if k % 2 else 'evenrow' }}">
      <td>{{ name }}</td>
      {% if not j and gradebook %}<td><a class="clickable" href="{{ site_prefix }}/_user_grades/{{ url_escape(userid,plus=False) }}">&#x1F520;</a></td>{% end %}
      <td><a class="clickable" href="{{ site_prefix }}/_editroster?user={{ url_escape(userid) }}" >&#9998;</a></td>
      <td><a class="clickable" href="javascript:slidocConfirmAction('editroster','delete','?user={{ url_escape(userid) }}&delete=1')" >&#x1F5D1;</a></td>
      {% if status_map.get(userid,'') %}<td>{{ status_map.get(userid,'') }}</td>{% end %}
    </tr>
  {% end %}
  </table>
{% end %}

</body>
</html>
