<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html>
<head>
  <!-- setup template for slidoc server --->
  <!-- setup parameters: site_name, session_name, status, site_updates, aliases -->
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta charset="UTF-8">

{% include "base.html" %}
{% include "actbase.html" %}

</head>

<body>
  <h2>Slidoc site setup</h2>
  <p></p>
  <b><a class="clickable" href="/">Home</a></b>
  <p></p>
  <h3><span id="slidoc-action-status"></span>{{status}}</h3>
  <p></p>
  <table><th><td>Site name</td><td>Last update time</td></th>
  {% for j, site_info in enumerate(site_updates) %}
    <tr><td>{{site_info[0]}}</td><td>{{site_info[1]}}</td></tr>
  {% end %}
  </table>

  <ul>
    <li><a class="clickable" href="javascript:slidocPromptAction('backup','Backup dirname (end with hyphen to append timestamp):')">backup</a>: Backup all sites</li>
    <hr>
    <li><a class="clickable" href="javascript:slidocConfirmAction('reload')">reload</a>: Restart proxy server</li>
    <hr>
    <li><a class="clickable" href="javascript:slidocConfirmAction('shutdown')">shutdown</a>: Shutdown proxy server</li>
    <hr>
    <li><a class="clickable"
    href="javascript:slidocAction('update/check')">update check</a>: Check for code updates from github</li>
    <p></p>
    <li><a class="clickable" href="javascript:slidocConfirmAction('update/pull')">update pull</a>: Pull updated code from github and restart proxy server</li>
    <p></p>
    <li><a class="clickable" href="javascript:slidocPromptAction('alias', 'Enter user@example.com=userid')">alias</a>: Define email alias (user@example.com=userid)</li>
  </ul>

  Aliases: <code>{{ aliases }}</code>
  <p></p>
  <form action="/_setup" method="get" id="setupform">
    <fieldset>
     <label for="sitename">New site name:</label>
     <input type="text" id="sitename" name="sitename" value="">
     <br>
     <label for="siteurl">Google Sheets URL:</label>
     <input type="text" id="siteurl" name="siteurl" value="">
   </fieldset>
   {% module xsrf_form_html() %}
  <p></p>
   <div>
     <input id="slidoc-setup-submit" type="submit" value="Create new site">
    </div>
  </form>

</body>
</html>

