<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html>
<head>
<!-- submissions template for slidoc server --->
<!-- submissions parameters: site_name-->

{% include "base.html" %}

<script>
function submit(label, args) {
    var dateElem = document.getElementById("dateinput");
    var dateValue = dateElem.value;
    if (!dateValue) {
        alert('Please select date');
        return;
    }
    var statusElem = document.getElementById('actionstatus');
    if (statusElem) statusElem.textContent = 'Loading...';
    location = '/_' + label + '/' + args+';'+dateValue;
}
document.onreadystatechange = function(event) {
    if (document.readyState != "interactive" || !document.body)
	return;
    var dateElem = document.getElementById("dateinput");
    if (dateElem)
        dateElem.value = (new Date()).toISOString().slice(0,11)+'23:59';
}
</script>

<style>
body {
    font-family: sans-serif;
}
</style>

</head>
<body>
<b>
{% include "linkback.html" %}
</b>

<div id="main-container">
  <div id="main">
    <div id="message-form">
        <fieldset>
	  <h2>{{submissions_label}}:</h2>
          <p></p>
	  <label for="submitdate">Select date:</label>
          <input  type="datetime-local" class="sdserver-input" id="dateinput" name="dateinput" value="">
          <p></p>
        </fieldset>
    </div>
  <div id="actionstatus"></div>
  </div>
</div>
<p></p>
{% raw submissions_html%}
</body>
</html>
