<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html>
<head>
<!-- submit template for slidoc server --->
<!-- submit parameters: site_name, session_name-->

{% include "base.html" %}

</head>
<body>

<b>
{% include "linkback.html" %}
</b>

<div id="main-container">
  <a href="/_manage/{{session_name}}">Manage session</a><br>
  <p></p>
  <div id="main">
    <div id="message-form">
      <h2>Submit test user responses for session {{session_name}}</h2>
      <form action="/_submit/{{session_name}}" method="post" id="message_form" enctype="multipart/form-data" >
	<fieldset>
	  <label for="submitdate">Submit date:</label>
          <input  type="datetime-local" class="sdserver-input" id="submitdate" name="submitdate" value="">
        </fieldset>
        {% module xsrf_form_html() %}
        <div id="form_btn">
	  <input id="submit-btn" type="submit" value="Submit">
	</div>
      </form>
    </div>
  </div>
</div>

</body>
</html>
