<html>
<head>
<!-- upload template for slidoc server --->
<!-- upload parameters: site_name, session_types, upload_type, session_name, session_number, err_msg -->

{% include "base.html" %}

{% set regular_session = session_number and (not str(session_number).isdigit() or int(session_number)) %}

</head>
<body>

  <b>
  {% include "linkback.html" %}
  </b>

  <p></p>
  <h2>Upload content</h2>

  <b>Create page/module</b>
  <p></p>
  <hr>


<div id="slidoc-upload-form">
  <p></p>
  <pre class="slidoc-err-msg" style="color: red; font-weight: bold;">{{err_msg}}</pre>
  <form id="upload-form" action="/{{site_name}}{% if site_name %}/{% end %}_upload" method="post" enctype="multipart/form-data" >
    <fieldset>
      {% if upload_type %}
        Uploading: <b>{{ upload_type }}{% if regular_session %}{{ '%02d' % int(session_number) }}{% elif upload_type not in ('top', 'raw') %}/index{% end %}</b>
        <input type="hidden" name="sessiontype" value="{{ upload_type }}">
        {% if upload_type == 'top' %}
        <input type="hidden" name="topname" value="{{ session_name }}">
        <p></p>
        <em>Note:</em> For top-level pages, the filename will be used as the link for navigation.
        {% end %}
      {% else %}
        <label for="sessiontype">Module type:</label><br>
        <table>
        {% for session_type, session_label in session_types %}
        <tr><td><input type="radio" name="sessiontype" value="{{ session_type }}"> <b>{{ session_type }}</b></td><td> [{{ session_label }}]</td></tr>
        {% end %}
        <tr><td><input type="radio" name="sessiontype" value="raw"> <b>raw</b></td><td> [Raw web archive (zip)]</td></tr>
        </table>
        Module names will be of the form <tt>moduleType??</tt>, e.g., <tt>lecture01</tt>
      {% end %}
     <br>
     {% if upload_type in ('raw', 'top') or str(session_number).isdigit() %}
     <input type="hidden" name="sessionnumber" value="{{ session_number }}">
     {% else %}
     <label for="sessionnumber">Module number:</label>
     <input type="number" id="sessionnumber" name="sessionnumber" value="">
     (needed only for non-top/raw cases; special value 0 denotes ToC header)<br>
     {% end %}
     <p></p>

     {% if session_name == 'index' or upload_type not in ('raw', 'top') %}
     <b><span class="clickable" onclick="document.getElementById('sessioncreate').checked=true;document.getElementById('upload-form').submit();">Create blank page/module</span></b>
     <input type="checkbox" id="sessioncreate" name="sessioncreate" value="upload" style="display:none;">
     <p></p>
     {% end %}

     <b><span class="clickable" onclick="document.getElementById('upload-file').style.display=null;this.style.display='none';">Upload content file</span></b>

     <div id="upload-file" style="display: none; border: 1px solid; padding: 4px;">
     <b>Upload content file:</b><p></p>

     {% if regular_session %}
     <label for="sessionmodify">Modify questions?</label>
     <input type="checkbox" id="sessionmodify" name="sessionmodify" value="modify">
     <p></p>
     {% end %}

     <label for="upload1">Markdown (.md) , or powerpoint (.pptx), or jupyter notebook (.ipynb) file:</label><br>
     <input type="file" id="upload1" name="upload1"  accept=".md,.pptx,.ipynb" value="file1">
     <p></p>
     <label for="upload2">Zip archive with Markdown, images, HTML or data (.zip):</label><br>
     <input type="file" id="upload2" name="upload2"  accept=".zip" value="file2">
     <p></p>
     <em>
     Modules as well as raw/Markdown top-level web pages may be uploaded as zip
     archives.<p></p>
     For modules, pixelized Powerpoint slide images in the zip archive should have names of the form
     <code>moduleName/*.jpg</code><p></p>
     Other embedded Markdown images should have names of the form <code>moduleName_images/*.jpg</code><p></p>
     The Markdown text content may optionally be included in the archive, with the name <code>content.md</code>,
     instead of being provided as a separate file.
     </em>
     </div>
   </fieldset>
   {% module xsrf_form_html() %}
   <p></p>
   <div>
     <input id="slidoc-upload-submit" type="submit" value="Upload">
   </div>
  </form>
</div>

</body>
</html>
