<html>
<head>
<!-- upload template for slidoc server --->
<!-- upload parameters: site_name, session_types, upload_type, session_name, session_number, err_msg -->

{% include "base.html" %}

{% set regular_session = session_number and (not str(session_number).isdigit() or int(session_number)) %}

</head>
<body>

<h2>{{site_name}}</h2>
<h2>Upload session/data files</h2>

<b>
{% include "linkback.html" %}
</b>

<div id="slidoc-upload-form">
  <p></p>
  <div class="slidoc-err-msg" style="color: red; font-weight: bold;">{{err_msg}}</div>
  <form action="/{{site_name}}{% if site_name %}/{% end %}_upload" method="post" enctype="multipart/form-data" >
    <fieldset>
      {% if upload_type %}
        Uploading: <b>{{ upload_type }}{% if regular_session %}{{ '%02d' % int(session_number) }}{% else %}/index{% end %}</b>
        <input type="hidden" name="sessiontype" value="{{ upload_type }}">
        {% if upload_type == 'top' %}
        <input type="hidden" name="topname" value="{{ session_name }}">
        {% end %}
      {% else %}
        <label for="sessiontype">Session type:</label><br>
        <table>
        {% for session_type, session_label in session_types %}
        <tr><td><input type="radio" name="sessiontype" value="{{ session_type }}"> <b>{{ session_type }}</b></td><td> [{{ session_label }}]</td></tr>
        {% end %}
        <tr><td><input type="radio" name="sessiontype" value="raw"> <b>raw</b></td><td> [Raw web archive (zip)]</td></tr>
        </table>
        Session names will be of the form <tt>sessionType??</tt>, e.g., <tt>lecture01</tt>
      {% end %}
     <br>
     {% if upload_type in ('raw', 'top') or str(session_number).isdigit() %}
     <input type="hidden" name="sessionnumber" value="{{ session_number }}">
     {% else %}
     <label for="sessionnumber">Session number:</label>
     <input type="number" id="sessionnumber" name="sessionnumber" value="">
     (needed only for non-top/raw cases; special value 0 denotes ToC header)<br>
     {% end %}
     <p></p>

     {% if session_name == 'index' or upload_type not in ('raw', 'top') %}
     <label for="sessioncreate">Create blank page/session?</label>
     <input type="checkbox" id="sessioncreate" name="sessioncreate" value="upload">
     <p></p>
     {% end %}
	
     {% if regular_session %}
     <label for="sessionmodify">Modify questions?</label>
     <input type="checkbox" id="sessionmodify" name="sessionmodify" value="modify">
     <p></p>
     {% end %}

     <label for="upload1">Markdown (.md) or powerpoint (.pptx) file:</label><br>
     <input type="file" id="upload1" name="upload1"  accept=".md,.pptx" value="file1">
     <p></p>
     <label for="upload2">Zip archive with Markdown, images, HTML or data (.zip):</label><br>
     <input type="file" id="upload2" name="upload2"  accept=".zip" value="file2">
     <p></p>
     Sessions as well as raw/Markdown top-level web pages may be uploaded as zip
     archives. For sessions, images in the zip archive should have names of the form
     <code>sessionName/*.jpg</code> for pixelized <code>.pptx</code> files and of the
     form <code>sessionName_images/*.jpg</code> for embedding in <code>.md</code> files,
     The Markdown content may optionally be included in the archive, with the name <code>content.md</code>,
     instead of being provided as a separate file.
     <p></p>
     For top-level pages, the filename will be used as the link for navigation.
   </fieldset>
   {% module xsrf_form_html() %}
   <p></p>
   <div>
     <input id="slidoc-upload-submit" type="submit" value="Upload">
   </div>
  </form>
</div>

</body>
</html>
