<!-- HTML head/body transition template for slidoc--->

%(math_js)s

%(skulpt_js)s

</head>
<body>

<button id="slidoc-google-login-button" style="display: none;">Google Login</button>

<div id="slidoc-top-right" class="slidoc-top-right slidoc-noprint">
<span id="slidoc-score-display" class="slidoc-clickable" onclick="Slidoc.showConcepts();"></span>
<span class="slidoc-clickable-sym slidoc-noslide" onclick="Slidoc.go();">%(house)s</span>&nbsp;
<span class="slidoc-clickable" onclick="Slidoc.viewHelp();">?</span>
</div>

<table class="slidoc-slide-nav slidoc-slideonly">
<tr><td id="slidoc-slide-nav-counter" class="slidoc-slide-nav-counter" colspan="3" align=center valign=bottom></td></tr>
<tr>
<td id="slidoc-slide-nav-prev" class="slidoc-clickable-sym" onclick="Slidoc.slideViewGo(false);">%(prev)s</td>
<td id="slidoc-slide-nav-end" class="slidoc-clickable-sym" onclick="Slidoc.slideViewEnd();">%(circle)s</td>
<td id="slidoc-slide-nav-next" class="slidoc-clickable-sym" onclick="Slidoc.slideViewGo(true);">%(next)s</td>
</tr>
<tr><td></td>
<td id="slidoc-slide-nav-down" class="slidoc-clickable-sym slidoc-incrementalonly" onclick="Slidoc.slideViewIncrement();">%(down)s</td>
<td></td></tr>
</table>

<div id="slidoc-progressbar-container" class="slidoc-slideonly"><span id="slidoc-progressbar" ></span></div>

<div id="slidoc-bottom-right" class="slidoc-bottom-right slidoc-noslide slidoc-noprint">
<span id="slidoc-sidebar-button" class="slidoc-clickable-sym slidoc-nosidebar" onclick="Slidoc.sidebarDisplay();" style="display: none;">%(rightpair)s</span>
<span class="slidoc-clickable-sym slidoc-sidebaronly" onclick="Slidoc.sidebarDisplay();">%(leftpair)s</span>
<span class="slidoc-clickable-sym"  onclick="Slidoc.slideViewStart();">%(square)s</span>
</div>

