<!-- HTML head/body transition template for slidoc--->

%(math_js)s

</head>
<body>

<button id="slidoc-google-login-button" style="display: none;">Google Login</button>

<div class="slidoc-slide-nav slidoc-slideonly slidoc-clickable-sym">
<span id="slidoc-slide-nav-prev" onclick="Slidoc.slideViewGo(false);">%(prev)s</span> &nbsp;&nbsp;&nbsp;
<span id="slidoc-slide-nav-end" onclick="Slidoc.slideViewEnd();">%(circle)s</span> &nbsp;&nbsp;&nbsp;
<span id="slidoc-slide-nav-next" onclick="Slidoc.slideViewGo(true);">%(next)s</span>
</div>
<div id="slidoc-hourglass-container" class="slidoc-slideonly"><span id="slidoc-hourglass" ></span></div>

<div id="slidoc-slide-home-button" class="slidoc-slide-home-button slidoc-noprint">
<span id="slidoc-score-display" class="slidoc-clickable" onclick="Slidoc.showConcepts();"></span>
<span class="slidoc-clickable slidoc-slideonly" onclick="Slidoc.slideViewHelp();">?</span>&nbsp;
<span class="slidoc-clickable-sym slidoc-noslide" onclick="Slidoc.go();">%(house)s</span>
</div>

<div id="slidoc-slide-view-button" class="slidoc-slide-view-button slidoc-clickable-sym slidoc-noslide slidoc-noprint">
<span onclick="Slidoc.slideViewStart();">%(square)s</span>
</div>

