<!-- Customizable CSS for slidoc--->


body { 
    max-width: 960px;
    line-height: 1.3;
    color: #222;
}

body .slidoc-toc-container { line-height: 1.6; }

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    color: #111;
}

code {
    font-size: 0.8em;
    color: #338866;}

a, a:visited,
 a.slidoc-clickable,
 a.slidoc-clickable:visited,
 a.slidoc-clickable-sym,
 .slidoc-clickable,
 .slidoc-clickable-sym {
      color: #438099;
}

.slidoc-clickable-sym {
    padding: 0.3em 0 0 0;
    font-size: 120%; font-weight: bold; font-family: Helvetica, Arial, freesans, sans-serif;}


@media print {
  body { 
      max-width: 960px;
      line-height: 1.1;
      color: #000;
    }

  h1, h2, h3, h4, h5, h6 {
      color: #000;
  }

  code {
      font-size: 0.8em;
      color: #113322;}

  a, a:visited,
  a.slidoc-clickable,
  a.slidoc-clickable:visited { color: rgb(85, 26, 139); }

  a.slidoc-clickable-sym,
  .slidoc-clickable,
  .slidoc-clickable-sym {
      color: #222;
  }

  .slidoc-noprint { display: none; }
}

body { font-family: "Gentium Basic", serif; }

h1, h2, h3, h4, h5, h6 { font-family: "Dosis", "Helvetica Neue", Helvetica, "Segoe UI", Arial, freesans, sans-serif;}

code {font-family: Monaco,Menlo,Consolas,"Courier New",monospace;}

pre { padding: 0px 2em;}

/* Clickable */
a, a:visited,
  a.slidoc-clickable,
  a.slidoc-clickable:visited,
  a.slidoc-clickable-sym { text-decoration: none; }

.slidoc-clickable,
  .slidoc-clickable-sym { cursor: pointer; }

.slidoc-clickable:hover {text-decoration: underline;}

.slidoc-clickable.slidoc-toc-entry { padding: 0.3em 0 0 1em; }

/* Notes */
.slidoc-notes { padding: 0px 1em; font-size: 95%; }
.slidoc-notes p {margin: 0.3em 0;}

/* Help table */
.slidoc-slide-help-table td {padding-bottom: 1em; padding-left: 2em;}

/* Views */
body.slidoc-slide-view { font-size: 150%; }

/* Score tally */
/* #slidoc-score-display {color: red;} */
.slidoc-correct-answer {color: green;}
.slidoc-wrong-answer {color: red;}

/* Figures etc. */
/* .slidoc-ref-figure { font-style: oblique; } */
