/* CSS include file for slidoc */

/* View control*/
body.slidoc-all-view .slidoc-noall, 
body.slidoc-slide-view .slidoc-noslide, 
body.slidoc-paced-view .slidoc-nopaced,
body.slidoc-remote-view .slidoc-noremote,
.slidoc-hidden {
    display: none; }

body:not(.slidoc-all-view) .slidoc-allonly, 
body:not(.slidoc-slide-view) .slidoc-slideonly,
body:not(.slidoc-paced-view) .slidoc-pacedonly,
body:not(.slidoc-remote-view) .slidoc-remoteonly,
body:not(.slidoc-incremental-view) .slidoc-incrementalonly,
body.slidoc-completed-view:not(.slidoc-admin-view) .slidoc-incrementalonly {
    display: none; }

/* Plugin display */
div.slidoc-answer-plugin .slidoc-noplugin { display: none; }

/* Answer/grading control */
body.slidoc-admin-view .slidoc-noadmin { display: none; }
body.slidoc-graded-view .slidoc-nograded { display: none; }
body:not(.slidoc-admin-view) .slidoc-adminonly { display: none; }
body:not(.slidoc-graded-view) .slidoc-gradedonly { display: none; }

body:not(.slidoc-admin-view):not(.slidoc-graded-view) .slidoc-admin-graded { display: none; }

body:not(.slidoc-interact-view) .slidoc-interactonly { display: none; }

section:not(.slidoc-answered-slideview) .slidoc-answeredonly { display: none; }
section:not(.slidoc-grading-slideview) .slidoc-gradingonly { display: none; }

section.slidoc-answered-slideview .slidoc-noanswered { display: none; }
section.slidoc-grading-slideview .slidoc-nograding { display: none; }

body.slidoc-admin-view section:not(.slidoc-answered-slideview) .slidoc-render-button { display: none; }
body:not(.slidoc-admin-view) div.slidoc-answer-plugin .slidoc-render-button { display: none; }
section.slidoc-answered-slideview:not(.slidoc-grading-slideview) .slidoc-render-button { display: none; }

section:not(.slidoc-answered-slideview) .slidoc-choice-selected {background: #aaa; }
section.slidoc-answered-slideview .slidoc-choice-selected {text-decoration: line-through; }

div.slidoc-answer-container.slidoc-choice-answer .slidoc-answer-input { display: none; }
div.slidoc-answer-container.slidoc-choice-answer:not(.slidoc-explain-answer) .slidoc-answer-textarea { display: none; }
div.slidoc-answer-container:not(.slidoc-multiline-answer):not(.slidoc-explain-answer) .slidoc-answer-textarea { display: none; }
div.slidoc-answer-container.slidoc-multiline-answer .slidoc-answer-input { display: none; }

div.slidoc-grade-element.slidoc-zero-gradeweight span,
  div.slidoc-grade-element.slidoc-zero-gradeweight input {
    display: none;
}

.slidoc-answer-disabled { display: none; }

/* Choice duplicates */
.slidoc-choice-duplicate-message {color: red; font-weight: bold; background: #aaa;}

/* Testing */
span#slidoc-test-status {color: red; font-weight: bold; background: #888;}

/* Body */
body {
  padding-top: 25px;
}

/* Navigation */
.slidoc-slide-nav    { z-index: 1000; position: fixed; right: 10px; bottom: 5px; }
.slidoc-bottom-right { z-index: 1000; position: fixed; right: 20px; bottom: 15px; font-size: 1.2em; opacity: 0.5; }
.slidoc-top-right    { z-index: 1000; position: fixed; right: 20px; top: 5px; font-size: 1.2em; opacity: 0.8; }
.slidoc-top-left     { z-index: 3300; position: fixed; left:  10px; top: 5px; font-size: 1.2em; opacity: 0.9; }

.slidoc-top-right.slidoc-topnav-hide { display: none; }
#slidoc-contents-button {font-size: 80%;}

body:not(.slidoc-admin-view):not(.slidoc-incremental-view) .slidoc-slide-nav-down { display: none; }

body.slidoc-strict-paced-view #slidoc-slide-nav-end { opacity: 0.3; }
body.slidoc-paced-last-slide.slidoc-expect-answer-state #slidoc-slide-nav-next { opacity: 0.3; }

body.slidoc-slide-view .slidoc-block-multi { display: none; }
body:not(.slidoc-graded-view) .slidoc-block-multi { display: none; } /* Show secondary checks only after grading (non-slide) */
body.slidoc-paced-last-slide span.slidoc-forward-link { opacity: 0.3; }
body.slidoc-paced-last-slide span.slidoc-forward-link.slidoc-forward-link-allowed { opacity: 1.0; }

body.slidoc-skip-optional-slide #slidoc-score-display { opacity: 0.3; }

/* Sidebar view */
body.slidoc-sidebar-view .slidoc-nosidebar {
    display: none;
}

body:not(.slidoc-sidebar-view) .slidoc-sidebaronly {
    display: none;
}

body.slidoc-sidebar-view {
    min-height: 100%;
    overflow-x: hidden;
    margin: 0;
}

body.slidoc-sidebar-view .slidoc-all-container {
    position: absolute;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

/* Answers */
.slidoc-answer-textarea,
  .slidoc-comments-textarea,
  .slidoc-render-button {
     display: block; }

.slidoc-render-text { border: 1px solid maroon; padding: 5px;}

.slidoc-shareable-hide { opacity: 0.3; }

button:disabled.slidoc-button,
input[type="button"]:disabled.slidoc-button {
    opacity: 0.4;
}

/* Incremental display */
body.slidoc-slide-view:not(.slidoc-completed-view):not(.slidoc-display-incremental1) .slidoc-incremental1 { visibility: hidden; }
body.slidoc-slide-view:not(.slidoc-completed-view):not(.slidoc-display-incremental2) .slidoc-incremental2 { visibility: hidden; }
body.slidoc-slide-view:not(.slidoc-completed-view):not(.slidoc-display-incremental3) .slidoc-incremental3 { visibility: hidden; }
body.slidoc-slide-view:not(.slidoc-completed-view):not(.slidoc-display-incremental4) .slidoc-incremental4 { visibility: hidden; }
body.slidoc-slide-view:not(.slidoc-completed-view):not(.slidoc-display-incremental5) .slidoc-incremental5 { visibility: hidden; }
body.slidoc-slide-view:not(.slidoc-completed-view):not(.slidoc-display-incremental6) .slidoc-incremental6 { visibility: hidden; }
body.slidoc-slide-view:not(.slidoc-completed-view):not(.slidoc-display-incremental7) .slidoc-incremental7 { visibility: hidden; }
body.slidoc-slide-view:not(.slidoc-completed-view):not(.slidoc-display-incremental8) .slidoc-incremental8 { visibility: hidden; }
body.slidoc-slide-view:not(.slidoc-completed-view):not(.slidoc-display-incremental9) .slidoc-incremental9 { visibility: hidden; }


/* Progress bar */
#slidoc-progressbar-container {
    z-index: 900; position: fixed; right: 20px; bottom: 15px; font-size: 1.2em;
    width: 5.5em; height: 1.5em; 
    background-color: rgba(255,255,255,0.3);
    overflow: hidden;}

#slidoc-progressbar {
    display: inline-block; width: 5.5em; height: 1em;
    top: 0; left: 5.5em;
    background-color: rgba(255,136,0,0.7);
    position: absolute;}

/* Sharing */
code.slidoc-plugin-share-resp-prefix {
    font-weight: bold;
    color: green;
}

/* Popup */
.slidoc-popup-overlay {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    background: #999;
    width: 100%;
    height: 100%;
}

#slidoc-generic-overlay { z-index: 2000; opacity: 0.7; }
#gdoc-login-overlay { z-index: 3000; opacity: 1.0; }

.slidoc-popup {
    display: none;
    position: absolute;
    top: 100px;
    left: 50%;
    width: 400px;
    margin-left: -200px; /*Half the value of width to center div*/
    /* margin-top: -100px;  Half the value of height to center div*/
    background: #fff;
    border-radius: 10px;
}

@media screen and (min-width:800px) {
    .slidoc-wide-popup {
	width: 800px;
	margin-left: -400px;
    }
}

#slidoc-generic-popup { z-index: 2100; }
#gdoc-login-popup { z-index: 3100; padding: 10px;}

.slidoc-popup-close {
  float: right;
  padding: 12px;
  font-weight: bold;
  font-family: Helvetica, Arial, freesans, sans-serif;
  cursor: pointer;
}

.slidoc-popup-content {
  font-family: Helvetica, Arial, freesans, sans-serif;
  padding: 10px;
}

